.loader {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.chatbox-default {
    margin: auto;
    padding: 0 1rem;

    .greeting {
        h2 {
            text-align: center;
            color: var(--blue);
            margin-bottom: 2rem;
        }
    }
}

.result-box {
    padding-top: 1rem;
    padding-inline: 1rem;
    width: 100%;
    overflow-y: auto;

    .boxi {
        margin-inline: auto;
        width: min(750px, 100%);
    }
}
